
QUESTION 10 : READING THE CSV FILE

In [ ]:
# IMPORTING THE REQUIRED LIBRARY
import pandas as pd
#
github_csv_url = '/FoodBalanceSheets_E_Africa_NOFLAG.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(github_csv_url, encoding="latin_1")

In [ ]:
#viewing the first few rows of the dataset
display(df.head())

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# QUESTION 3 SOLUTION
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [ ]:
#IMPORTING THE REQUIRED LIBRARY
import pandas as pd

github_csv_url = '/FoodBalanceSheets_E_Africa_NOFLAG.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(github_csv_url, encoding="latin_1")
# Selecting  the 'Y2017' and 'Area' columns
selected_columns = df[['Y2017', 'Area']]

# Grouping  by 'Area' and calculating  the sum for 'Y2017' within each group
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()

# determining the area with the highest sum in 2017
area_with_highest_sum_2017 = sum_2017_by_area.idxmax()

# The 'area_with_highest_sum_2017' variable now contains the area with the highest sum in 2017
print(area_with_highest_sum_2017)

Nigeria

In [ ]:



# Q2. Which year had the least correlation with ‘Element Code’?



# STEP 1: Selecting  the relevant columns: 'Element Code' and the years
selected_columns = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# STEP 2: Calculating the correlation coefficients between 'Element Code' and the years
correlations = selected_columns.corr()['Element Code']

# determining the year with the least correlation (lowest absolute correlation)
least_correlated_year = correlations.iloc[1:].idxmin()

# finding  the actual correlation value for the least correlated year
least_correlation_value = correlations[least_correlated_year]

# Print the result
print(f"The year with the least correlation to 'Element Code' is {least_correlated_year} with a correlation of {least_correlation_value:.2f}")

The year with the least correlation to 'Element Code' is Y2016 with a correlation of 0.02

# QUESTION 5:
If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

![image.png]()

In [ ]:
import pandas as pd

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

# STEP 1: Creating the DataFrame with custom index values
df1 = pd.DataFrame(lst, columns=col, index=[1, 2, 3])

# Display the DataFrame
display(df1)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
df.columns

Index(['Age', 'Nationality', 'Overall'], dtype='object')

# New Section

In [ ]:
# Filtering  the DataFrame for Madagascar
madagascar_data = df[df['Area'] =='Madagascar']

# Select the 'Y2015' column and calculate the sum
total_protein_supply_2015 = madagascar_data['Y2015'].sum()

# Print the total protein supply quantity in Madagascar in 2015
print(f'Total Protein Supply Quantity in Madagascar in 2015: {total_protein_supply_2015}')

Total Protein Supply Quantity in Madagascar in 2015: 126674.9

# QUESTION 8
What is the total sum of Wine produced in 2015 and 2018 respectively?

In [7]:
import pandas as pd

github_csv_url = '/content/FoodBalanceSheets_E_Africa_NOFLAG.csv'

# Loading the CSV file into a DataFrame
df = pd.read_csv(github_csv_url, encoding="latin_1")

#  We Select the 'Y2015' and 'Y2018' columns and calculate the sum for each year
wine_produced_2015 = df['Y2015'][df['Item'] == 'Wine'].sum()
wine_produced_2018 = df['Y2018'][df['Item'] == 'Wine'].sum()

# Print the total sum of Wine produced in 2015 and 2018
print(f'Total Wine produced in 2015: {wine_produced_2015}')
print(f'Total Wine produced in 2018: {wine_produced_2018}')

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

# QUESTION 9

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [9]:
import pandas as pd


# Select the 'Y2017' and 'Area' columns
selected_columns = df[['Y2017', 'Area']]

# Group by 'Area' and calculate the sum for 'Y2017' within each group
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()

# Sort the results in ascending order of the sum for 'Y2017'
sorted_sum_2017 = sum_2017_by_area.sort_values()

# Find the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_sum_2017.index[6]  # Index 6 corresponds to the 7th lowest area

# Get the sum for the 7th lowest area
seventh_lowest_sum = sorted_sum_2017.iloc[6]

# Print the result
print(f"The area with the 7th lowest sum in 2017 is '{seventh_lowest_area}' with a sum of {seventh_lowest_sum}")

The area with the 7th lowest sum in 2017 is 'Guinea-Bissau' with a sum of 19102.77

# QUESTION 11

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [11]:
import pandas as pd


# Select the 'Y2017' column
y2017_values = df['Y2017']

# Calculate the mean and standard deviation for 'Y2017'
mean_2017 = y2017_values.mean()
std_deviation_2017 = y2017_values.std()

# Round the results to 2 decimal places
mean_2017_rounded = round(mean_2017, 2)
std_deviation_2017_rounded = round(std_deviation_2017, 2)

# Print the mean and standard deviation for 2017
print(f"Mean for Y2017: {mean_2017_rounded}")
print(f"Standard Deviation for Y2017: {std_deviation_2017_rounded}")

Mean for Y2017: 140.92
Standard Deviation for Y2017: 1671.86

# QUESTION 14

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [14]:
y = [(2, 4), (7, 8), (1, 5, 9)]
# SOLUTION ASSIGNING THE X VARIABLE
x = y[1][1]
#CONFIRMING WHAT HAS BEEN ASSIGNED
print(x)

8

# QUESTION 20

What is the total number of unique countries in the dataset?

In [16]:
import pandas as pd

# Assuming 'df' is your DataFrame

# Extract unique values from the 'Area' column and count them
unique_countries = df['Area'].nunique()

# Print the total number of unique countries
print(f"Total number of unique countries: {unique_countries}")

Total number of unique countries: 49

# Question 17

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [19]:
import pandas as pd


# Select the 'Element' column and all the year columns
selected_columns = df[['Element', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

# Group by 'Element' and calculate the sum of stock variation for each year
stock_variation_by_year = selected_columns.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum of stock variation
highest_stock_variation_year = stock_variation_by_year.sum(axis=0).idxmax()

# Print the year with the highest sum of stock variation
print(f"The year with the highest sum of Stock Variation is: {highest_stock_variation_year}")

The year with the highest sum of Stock Variation is: Y2018

In [20]:
!apt-get install git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.10).
0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.

In [21]:
!git config --global user.email "eduvate360consults@gmail.com"
!git config --global user.name "EMPYREALMART"